PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cifo_crm

NODE_ENV=development
# en prod debería cambiar a production para que se use httpS
SESSION_SECRET=cambiar_esto_por_un_secreto

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
MAIL_USERNAME=cifovioleta5@gmail.com
MAIL_PASSWORD="igukcuszbfrbzmjn"